.search-display {
    flex: 1;
   background-color: #f9f9f9;
   padding: 40px 20px;
   padding-bottom: 0;
  
}
h3 {
  margin-left: 5px; 
  margin-bottom: 20px; 
}
.search-display {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
li {
    list-style: none;
}