.about {
    margin-top: 16px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
}

.about > p {
    text-align: center;

}

.us {

    text-align: center;
    /* font-weight: bold; */
}



.creatorCard {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border: 1px solid rgb(153, 149, 149);
    height: 350px;
    margin-top: 40px;
    background-color: white;
   
    padding: 20px;
    border-radius: 10px;
}

.creatorCard > img {
    height: 250px;
    width: 250px;
    border-radius: 12px;

}