<<<<<<< HEAD

.App {
    display: flex;
=======
/* 
.App {
    display: grid;
    grid-template-areas: 
    "n n n"
    "a j p"
    "f f f";
>>>>>>> 259d06458cf0badc2866a846c751ff4c63357e06

} */
.main__videos {
    display: flex;

}

/* .app__sidebar {
    flex: 0.2;
    background-color: rgb(231, 226, 226);

} */