
.App {

    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

}
.main {
   flex: 1 1 auto;

}
footer{
    display: flex;
    background-color: rgb(231,226,226);
}

