/* 
.App {
    display: grid;
    grid-template-areas: 
    "n n n"
    "a j p"
    "f f f";

} */
.main__videos {
    display: flex;

}
footer{
    display: flex;
    background-color: rgb(231,226,226);
}

/* .app__sidebar {
    flex: 0.2;
    background-color: rgb(231, 226, 226);

} */